<!-- Toolbar -->
<div class="toolbar" role="banner">
  <div class="spacer"></div>
  <span>Welcome</span>
  <div class="spacer"></div>
</div>

<div class="content" role="main">
  <!-- Highlight Card -->
  <div class="card-container">
    <a class="card" routerLink="/array-insert" routerLinkActive="active">
      <span>Data Insert InTo Array</span>
    </a>
    <a class="card" routerLink="/array-delete" routerLinkActive="active">
      <span>Remove Data InTo Array</span>
    </a>
    <a class="card" routerLink="/array-search" routerLinkActive="active">
      <span>Data Search From Array</span>
    </a>
  </div>
</div>
